@model IEnumerable<test01.Areas.Admin.Controllers.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<!--<div class="container-fluid">-->
<!-- Page Heading -->
<!--<h1 class="h3 mb-2 text-gray-800">Users</h1>-->
<!-- DataTales Example -->
<!--<div class="card shadow mb-4">
        <div class="card-header py-3">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <p>



                <input type="button" id="myButton" value="test1" />


            </p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Age</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>-->
<!-- /.container-fluid -->

<button type="button" class="btn btn-primary" id="btnSort" onclick="return SortByAge()">SORT</button>

<button type="button" class="btn btn-danger"><a href="AddLinqView">Add</a></button>
<div>
    <input type="number" class="form-control" id="AgePerson" >
    <button type="button" class="btn btn-success" id="btnFind" onclick="return FindbyAge()">Find</button>
</div>

<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>

</div>


<script>
    $(document).ready(function () {
        GetALL();
    });
    function GetALL() {
        $.ajax({
            url: "/Admin/People/GetAll",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ID + '</td>';
                    html += '<td>' + item.LastName + '</td>';
                    html += '<td>' + item.FirstName + '</td>';
                    html += '<td>' + item.Age + '</td>';
                    html += '<td><a href="EditView/ ' + item.ID + '">Edit</a> | <a href="#" onclick="Delete(' + item.ID + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function SortByAge() {
        $.ajax({
            url: "/Admin/People/SortByAge",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ID + '</td>';
                    html += '<td>' + item.LastName + '</td>';
                    html += '<td>' + item.FirstName + '</td>';
                    html += '<td>' + item.Age + '</td>';
                    html += '<td><a href="EditView/ ' + item.ID + '">Edit</a> | <a href="#" onclick="Delete(' + item.ID + ');">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function Delete(ID) {
        var IDdel = parseInt(ID);
        alert(IDdel);
        $.ajax({
            url: "/Admin/People/DeleteLinq/" + IDdel,
            //data: JSON.stringify(IDdel),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("Delete success ID" + ID);
                SortByAge();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function FindbyAge() {
        var age1 = parseInt($('#AgePerson').val());
        alert(age1);
        $.ajax({
            url: "/Admin/People/FindByAge?Age=" + age1,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.ID + '</td>';
                    html += '<td>' + item.LastName + '</td>';
                    html += '<td>' + item.FirstName + '</td>';
                    html += '<td>' + item.Age + '</td>';
                    html += '<td><a href="EditView/ ' + item.ID + '">Edit</a> | <a href="#" onclick="Delete(' + item.ID + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>